<div class ="container-fluid adjusttop">
  <div class="row">   
       <div class="col-sm-6 productright">       
        <h3>Cancel Product Form</h3>
        <form [formGroup]="angForm" (ngSubmit)="CancelProduct()">
            <div class="form-group">
                <label>Product ID</label>
                <input type="number" formControlName="pkk_id" [(ngModel)]="pkk_id"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pkk_id.errors }" autofocus="true" autocomplete="off" placeholder="Enter Product Id" required/>
                <div *ngIf="submitted && f.pkk_id.errors" class="invalid-feedback">
                    <div *ngIf="f.pkk_id.errors.required">Product ID</div>
                </div>
            </div>
                 <!-- <div class="form-group">
                  <label>Quantity</label>
                  <input type="number" formControlName="pk_quant"  [(ngModel)]="pk_quant" class="form-control" placeholder="Enter Quantity " [ngClass]="{ 'is-invalid': submitted && f.pk_quant.errors }" required/>
                  <div *ngIf="submitted && f.pk_quant.errors" class="invalid-feedback">
                      <div *ngIf="f.pk_quant.errors.required">Quantity</div>
                  </div>
                  </div>

                  <div class="form-group">
                    <label>Amount</label>
                    <input type="number" formControlName="pk_price"  [(ngModel)]="pk_price" class="form-control" placeholder="Enter Amount" [ngClass]="{ 'is-invalid': submitted && f.pk_price.errors }" required/>
                    <div *ngIf="submitted && f.pk_price.errors" class="invalid-feedback">
                        <div *ngIf="f.pk_price.errors.required">Amount</div>
                    </div>
                    </div> -->

                    <div class="form-group">
                      <button class="btn btn-primary">Cancel</button>
                  </div>
        </form> 
      </div> 

          <div class="col-sm-6 tableleft">         
                                                
   <div class="table-responsive table-wrapper-scroll-y">          
     <table class="table">
       <thead>
         <tr>
          <th> Product ID </th>  
          <th> Product Name </th>
           <th> Brand </th> 
           <th> Quantity </th>
            <th> Price </th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let obj of myarray">
           <td>{{ obj[0] }}</td>
           <td>{{ obj[1] }}</td>
           <td>{{ obj[2] }}</td>
           <td>{{ obj[3] }}</td>
           <td>{{ obj[4] }}</td>
           </tr>
       </tbody>
     </table>
     </div>
         
      
         </div>
       </div>
       <ngx-spinner></ngx-spinner>
   
      
  















