<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark green scrolling-navbar ie-nav" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#"><strong>Asset Management</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto color bg-faded">
          <li class="nav-item waves-light" [routerLinkActive]="['active']"  mdbWavesEffect>
              <a class="nav-link" routerLink="product" >Product</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive]="['active']"  mdbWavesEffect>
                  <a class="nav-link" routerLink="update-product">updateproduct </a>
              </li>
           <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbWavesEffect>
              <a class="nav-link"routerLink="cancel-product">cancel Product</a>
          </li>
           <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbWavesEffect>
              <a class="nav-link"routerLink="order-details" >View order detail</a>
          </li>
         <!-- <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbWavesEffect>
              <a class="nav-link"routerLink="stockproduct">Stock Products</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive]="['active']" mdbWavesEffect>
              <a class="nav-link"routerLink="transferowner" >Transfer Ownership</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive]="['active']"mdbWavesEffect>
              <a class="nav-link"routerLink="withdraw" >Withdraw</a>
          </li>-->
        </ul> 
        <ul style="float:right;list-style:none; " class="navbar-nav">
            <li style="color:aliceblue">ONT Balance:<span>{{balance}}</span></li>&nbsp;&nbsp;&nbsp;
            <li style="color:aliceblue">ONG Balance:<span>{{ontbalance}}</span></li>
        </ul> 
       
    </links>
  </mdb-navbar>  
  <router-outlet></router-outlet>